# venv
.venv/
venv/
env/
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.egg
*.egg-info/
.eggs/
dist/
build/
*.manifest
*.spec

# uv
.uv/

# type check / lint
.mypy_cache/
.ruff_cache/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# pytest
.pytest_cache/
.coverage
htmlcov/

# logs / local
*.log
*.local

# temp files
some.json